.wrapper {
  
}

#main-doc {
  margin-left: 4px;
  border: 2px solid #fffff4;
    border-radius: 4px;
    list-style-type: none;
    margin: 10px 0px 0px 0px;
    padding: 20px;
}

#navbar {
    float: none;
    width: auto;
}

#menulist {
    background: #CDF0F6;
    border: 1px solid #d49999;
    border-radius: 2px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
}

.menuitem {
    
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 14px;
}

.main-section {
    background: #f2ebde;
    border: 0px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 10px 0px 0px 0px;
    padding: 20px;  
}

@media screen and (min-width: 500px) {
    #navbar{
      width: 220px; float: left;
  }
    #main-doc {
      margin-left: 230px;
      margin-right: 100px;
  }
}